{% extends 'main_application/base.html' %}
{% load static %}

{% block title %}
    Blog
{% endblock %}

{% block content %}
    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>All Blogs</h2>
                </div>

            </div>
        </section><!-- End Breadcrumbs -->

        <section class="inner-page">
            <div class="container">

                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                    <div class="row justify-content-center">
                        {% for blog in blogs %}
                            <div class="col-lg-4 col-md-6 mb-3 portfolio-item">
                                <div class="card border-0 rounded-3 shadow">
                                    <a href="{% url 'blog-details' blog.slug %}">
                                        <img src="{{ blog.image.url }}" class="card-img-top" alt="{{ blog.title }}">
                                    </a>
                                    <div class="card-body">
                                        <p class="text-muted mb-0">{{ blog.created_at|date:"F d, Y" }}</p>
                                        <h5 class="card-title">
                                            <a href="{% url 'blog-details' blog.slug %}"
                                               class="text-decoration-none text-dark">
                                                {{ blog.title }}</a></h5>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                {#                <!-- Pagination -->#}
                {#                <div class="mt-4" data-aos="fade-up" data-aos-delay="300"> <!-- Adding margin top -->#}
                {#                    <nav aria-label="Page navigation">#}
                {#                        <ul class="pagination justify-content-center">#}
                {#                            <li class="page-item disabled">#}
                {#                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>#}
                {#                            </li>#}
                {#                            <li class="page-item active" aria-current="page">#}
                {#                                <a class="page-link" href="#">1</a>#}
                {#                            </li>#}
                {#                            <li class="page-item"><a class="page-link" href="#">2</a></li>#}
                {#                            <li class="page-item"><a class="page-link" href="#">3</a></li>#}
                {#                            <li class="page-item">#}
                {#                                <a class="page-link" href="#">Next</a>#}
                {#                            </li>#}
                {#                        </ul>#}
                {#                    </nav>#}
                {#                </div>#}
                {#                <!-- End Pagination -->#}


            </div>
        </section>

    </main><!-- End #main -->
{% endblock %}