{% load static %}

<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <div class="footer-info">
                        <h3>Politrack Africa<span>.</span></h3>
                        <p>
                            SilverPool Office Suites, Jabavu Lane <br>
                            Nairobi, Kenya<br><br>
                            <strong>Phone:</strong> +254 713 777184 / +254 711 473886 / +254 702 155633<br>
                            <strong>Email:</strong> info@politrackafrica.com<br>
                            <span class="credits">
                                <a href="{% url 'admin:index' %}" target="_blank">Admin Panel</a></span>
                        </p>
                        <div class="social-links mt-3">
                            <a href="https://twitter.com/PolitrackAfrica" target="_blank" class="twitter">
                                <i class="bx bxl-twitter"></i></a>
                            <a href="https://www.facebook.com/politrackafrica/" target="_blank" class="facebook">
                                <i class="bx bxl-facebook"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Politrack Africa</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Developed by <a href="https://github.com/manlikeclaro" target="_blank">Manlikeclaro</a>
        </div>
    </div>
</footer><!-- End Footer -->