{% load static %}

<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center justify-content-lg-between">

        {% if '/' == request.path %}
            <a href="#hero" class="logo me-auto me-lg-0 scrollto">
                <img src="{% static 'main_application/img/logo.png' %}" alt="" class="img-fluid"></a>
        {% else %}
            <a href="{% url 'home' %}" class="logo me-auto me-lg-0">
                <img src="{% static 'main_application/img/logo.png' %}" alt="" class="img-fluid"></a>

        {% endif %}

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                {% if '/' == request.path %}
                    <li><a class="nav-link scrollto {% if '/' == request.path %} active {% endif %}"
                           href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="#about">About</a></li>
                    <li><a class="nav-link scrollto" href="#features">Services</a></li>
                    <li><a class="nav-link scrollto" href="#reports">Reports</a></li>
                    <li><a class="nav-link scrollto" href="#portfolio">Blog</a></li>
                {% else %}
                    <li><a class="nav-link {% if '/' == request.path %} active {% endif %}"
                           href="{% url 'home' %}">Home</a></li>
                    <li><a class="nav-link {% if 'report' in request.path %} active {% endif %}"
                           href="{% url 'reports' %}">Reports</a></li>
                    <li><a class="nav-link {% if 'blog' in request.path %} active {% endif %}"
                           href="{% url 'blog' %}">Blog</a></li>
                {% endif %}
                {% if request.user.is_authenticated %}
                    <li><a class="nav-link" href="{% url 'admin:index' %}">Admin Panel</a></li>
                {% endif %}
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>

        <a href="{% url 'contact' %}" class="get-started-btn"><span class="fw-bold">Contact Us</span></a>

        <script>
            // Get all navigation links with the 'active' class
            const activeLinks = document.querySelectorAll('.nav-link.active');

            // Loop through each active link
            activeLinks.forEach(link => {
                // Add a click event listener to prevent default behavior
                link.addEventListener('click', function (event) {
                    // Prevent the default link behavior (page reload)
                    event.preventDefault();
                });
            });
        </script>

    </div>
</header><!-- End Header -->