{% load static %}

<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-12 pt-4 pt-lg-0 order-2 order-lg-1 content text-center" data-aos="fade-right" data-aos-delay="100">
                <h3>About Politrack Africa<span>.</span></h3>
                <p class="fst-italic">
                    Politrack Africa is a private limited company incorporated under the
                    Companies Act 2015. The company specializes in gathering and analyzing data
                    to provide economic, social and political insights or solutions to various
                    industries and clients. Our company is staffed with highly skilled and competent
                    professionals with high level experience in the fields of statistics, data
                    analysis, and market research.
                </p>
            </div>
        </div>

    </div>
</section>