{% load static %}

<section id="clients" class="clients">
    <div class="container" data-aos="zoom-in">

        <div class="clients-slider swiper">
            <div class="swiper-wrapper align-items-center">
                <div class="swiper-slide">
                    <img src="{% static 'main_application/img/clients/kncci.png' %}" class="img-fluid" alt="kncci">
                </div>
                <div class="swiper-slide">
                    <img src="{% static 'main_application/img/clients/ombe.png' %}" class="img-fluid" alt="ombe"></div>
                <div class="swiper-slide">
                    <img src="{% static 'main_application/img/clients/sasini.png' %}" class="img-fluid" alt="sasini">
                </div>
                <div class="swiper-slide">
                    <img src="{% static 'main_application/img/clients/starbrands.png' %}" class="img-fluid"
                         alt="starbrands"></div>
                <div class="swiper-slide">
                    <img src="{% static 'main_application/img/clients/unicolor.png' %}" class="img-fluid"
                         alt="unicolor"></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section>