{% load static %}

<section id="clients" class="clients">
    <div class="container" data-aos="zoom-in">

        <div class="clients-slider swiper">
            <div class="swiper-wrapper align-items-center">
                <div class="swiper-slide">
                    <img src="{% static 'main_application/img/clients/kncci.png' %}" class="img-fluid" alt="kncci">
                </div>
                <div class="swiper-slide">
                    <img src="{% static 'main_application/img/clients/ombe.png' %}" class="img-fluid rounded-2" alt="ombe"></div>
                <div class="swiper-slide">
                    <img src="{% static 'main_application/img/clients/sasini.png' %}" class="img-fluid" alt="sasini">
                </div>
                <div class="swiper-slide">
                    <img src="{% static 'main_application/img/clients/starbrands.png' %}" class="img-fluid"
                         alt="starbrands"></div>
                <div class="swiper-slide">
                    <img src="{% static 'main_application/img/clients/united-paints.png' %}" class="img-fluid"
                         alt="united-paints"></div>
                <div class="swiper-slide">
                    <img src="{% static 'main_application/img/clients/dubai-chamber.png' %}" class="img-fluid"
                         alt="dubai-chamber"></div>
                <div class="swiper-slide">
                    <img src="{% static 'main_application/img/clients/bonfire-adventures.png' %}" class="img-fluid"
                         alt="bonfire-adventures"></div>
                <div class="swiper-slide">
                    <img src="{% static 'main_application/img/clients/mwananchi-credit.png' %}" class="img-fluid"
                         alt="mwananchi-credit"></div>
                <div class="swiper-slide">
                    <img src="{% static 'main_application/img/clients/association-realestate.png' %}" class="img-fluid rounded-2"
                         alt="association-realestate"></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section>