{% load static %}

<section id="features" class="features">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2 class="text-black">Our Services</h2>
        </div>

        <div class="row">
            <div class="col-md-6" data-aos="fade-left" data-aos-delay="100">
                <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
                    <i class="bx bi-easel"></i>
                    <h4>Market Research</h4>
                    <p>Conducting in-depth studies of market trends, consumer behavior, and competitor analysis to
                        enable clients to make well-informed decisions regarding their products and services.</p>
                </div>
                <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                    <i class="bx bi-bar-chart"></i>
                    <h4>Public opinion polls</h4>
                    <p>Gathering data on public opinion and attitudes towards specific issues, policies, and candidates
                        through comprehensive polling methodologies.</p>
                </div>
                <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                    <i class="bx bi-collection"></i>
                    <h4>Employee engagement surveys</h4>
                    <p>Collaborating with organizations to assess employee satisfaction levels, pinpoint areas for
                        enhancement, and devise strategies to foster a positive workplace culture and increase
                        productivity.</p>
                </div>
                <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                    <i class="bx bx-shield"></i>
                    <h4>Data Analysis</h4>
                    <p>Offering advanced data analysis services to decipher complex data sets and translate them into
                        actionable insights, empowering clients to make data-driven decisions.</p>
                </div>
            </div>
            <div class="col-md-6" data-aos="fade-left" data-aos-delay="100">
                <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
                    <i class="bx bx-receipt"></i>
                    <h4>Customer Satisfaction Surveys</h4>
                    <p>Designing and administering surveys to evaluate customer satisfaction levels and identify
                        opportunities for enhancing customer service and product quality.</p>
                </div>
                <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                    <i class="bx bi-people"></i>
                    <h4>Focus Groups</h4>
                    <p>Facilitating focus group sessions to gather qualitative data on consumer opinions, preferences,
                        and behaviors, providing valuable insights for strategic decision-making.</p>
                </div>
                <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                    <i class="bx bi-wifi"></i>
                    <h4>Online Surveys</h4>
                    <p>Developing and executing online survey initiatives to efficiently collect data from a diverse
                        audience, enabling rapid and comprehensive analysis.</p>
                </div>
                <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                    <i class="bx bi-activity"></i>
                    <h4>Customized Research</h4>
                    <p>Collaborating closely with clients to create tailored research studies that address their
                        specific needs and objectives, delivering actionable insights and strategic guidance.</p>
                </div>
            </div>
        </div>

    </div>
</section>