{% load static %}

<section id="features" class="features">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2 class="text-black">Our Services</h2>
        </div>

        <div class="row">
            <div class="col-md-6" data-aos="fade-left" data-aos-delay="100">
                <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
                    <i class="bx bi-easel"></i>
                    <h4>Market Research</h4>
                    <p>We conduct in-depth studies of market trends, consumer behavior, and competitor analysis to help
                        clients make informed decisions about their products and services.</p>
                </div>
                <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                    <i class="bx bi-bar-chart-fill"></i>
                    <h4>Public opinion polls</h4>
                    <p>We conduct polls to gather data on public opinion and attitudes towards specific issues,
                        policies, and candidates.</p>
                </div>
                <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                    <i class="bx bi-collection"></i>
                    <h4>Employee engagement surveys</h4>
                    <p>We work with organizations to measure employee satisfaction and engagement, identify areas for
                        improvement, and develop strategies to improve workplace culture and productivity.</p>
                </div>
                <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                    <i class="bx bx-shield"></i>
                    <h4>Data Analysis</h4>
                    <p>We offer data analysis services to help clients make sense of complex data sets and turn data
                        into actionable insights.</p>
                </div>
            </div>
            <div class="col-md-6" data-aos="fade-left" data-aos-delay="100">
                <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
                    <i class="bx bx-receipt"></i>
                    <h4>Customer Satisfaction Surveys</h4>
                    <p>We design and implement surveys to gauge customer satisfaction and identify areas for improvement
                        in customer service and product quality.</p>
                </div>
                <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                    <i class="bx bi-people"></i>
                    <h4>Focus Groups</h4>
                    <p>We organize and facilitate focus group sessions to gather qualitative data on consumer opinions,
                        preferences, and behaviors.</p>
                </div>
                <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                    <i class="bx bi-wifi"></i>
                    <h4>Online Surveys</h4>
                    <p>We design and implement online surveys to gather data from a large and diverse audience quickly
                        and efficiently.</p>
                </div>
                <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                    <i class="bx bi-activity"></i>
                    <h4>Customized Research</h4>
                    <p>We work with clients to design customized research studies to meet their specific needs and
                        objectives.</p>
                </div>
            </div>
        </div>

    </div>
</section>