{% load static %}

<section id="reports" class="services">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2 class="text-black">Live Reports</h2>
        </div>

        <div class="row">
            {% for report in reports %}
                <div class="col-md-6 col-lg-4 mt-4" data-aos="zoom-in" data-aos-delay="300">
                    <div class="rounded-5 card shadow-sm">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-3">
                                <div class="icon me-3"><i class="bx bi-filetype-pdf"></i></div>
                                <div>
                                    <h4 class="card-title mb-0"><a href="{{ report.report_file.url }}" target="_blank"
                                                                   download>Download</a></h4>
                                    <p class="card-text mb-0">{{ report.report_name }}</p>
                                    <p class="card-text mb-0">{{ report.release_date }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- View All Reports Link -->
        <div class="text-center mt-4">
            <a href="{% url 'reports' %}" class="text-secondary btn-link btn-lg rounded-pill px-4 py-2">View All Reports</a>
        </div>


    </div>
</section>