{% load static %}

<section id="services" class="services">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-md-6 mb-2">
                <div class="section-title">
                    <h2 class="text-black">Our Vision</h2>
                </div>

                <div class="col-md-10 text-center d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
                        <p class="fst-italic">To be a leading research and survey company, recognized for our
                            exceptional quality and insightful analysis, enabling our clients to make informed decisions
                            that drive growth and success.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="section-title">
                    <h2 class="text-black">Our Mission</h2>
                </div>

                <div class="col-md-10 text-center d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
                        <p class="fst-italic">To provide accurate, comprehensive, and timely research and survey
                            services to our clients. We strive to deliver actionable insights that inform and empower
                            our clients to make data-driven decisions that improve their businesses and the communities
                            they serve. We are committed to upholding the highest standards of integrity,
                            professionalism, and ethical conduct in all of our work.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>