{% load static %}

<section id="testimonials" class="testimonials">
    <div class="container" data-aos="zoom-in">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="testimonial-item">
{#                        <img src="{% static 'main_application/img/testimonials/testimonials-1.jpg' %}"#}
                        <img src="{% static 'main_application/img/testimonials/kuria.png' %}"
                             class="testimonial-img" alt="Hon. Moses Kuria">
                        <h3>Hon. Moses Kuria</h3>
                        <h4>CS, Public Service, Performance & Delivery Management</h4>
                        <p><i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Working with Politrack Africa has been an absolute pleasure. Their dedication to providing
                            accurate data and insightful analysis has greatly benefited our organization. Highly
                            recommend their services!
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
{#                        <img src="{% static 'main_application/img/testimonials/testimonials-2.jpg' %}"#}
                        <img src="{% static 'main_application/img/testimonials/mudavadi.png' %}"
                             class="testimonial-img" alt="Hon. Musalia Mudavadi">
                        <h3>Hon. Musalia Mudavadi</h3>
                        <h4>Prime Cabinet Secretary, Republic of Kenya</h4>
                        <p><i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Politrack Africa exceeded our expectations with their comprehensive market research. The
                            insights they provided were invaluable in shaping our business strategy. I look forward to
                            collaborating with them again in the future.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
{#                        <img src="{% static 'main_application/img/testimonials/testimonials-3.jpg' %}"#}
                        <img src="{% static 'main_application/img/testimonials/riggyg.png' %}"
                             class="testimonial-img" alt="Hon. Rigathi Gachagua">
                        <h3>Hon. Rigathi Gachagua</h3>
                        <h4>Deputy President, Republic of Kenya</h4>
                        <p><i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            I've had the pleasure of participating in focus groups organized by Politrack Africa. Their
                            professionalism and attention to detail were evident throughout the process. I appreciate
                            their commitment to gathering high-quality data.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div><!-- End testimonial item -->

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section>