{% extends 'main_application/base.html' %}
{% load static %}

{% block title %}
    404
{% endblock %}

{% block content %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <ol>
                        <li></li>
                    </ol>
                </div>
            </div>
        </section><!-- End Breadcrumbs -->

        <section class="inner-page">
            <div class="container">
                <div class="section-title">
                    <h2 class="text-black">Error 404</h2>
                    <p>Page Not Found!</p>
                </div>

            </div>
        </section>

    </main><!-- End #main -->
{% endblock %}